/* Mixin */
@mixin button-color($color, $color-hover, $color-font){
  color: $color-font;
  background: $color;
  &:hover {
    background:  $color-hover;
  }
}

.button {
  padding: 9px 18px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-decoration: none;
  // border-radius: 20px;
  transition: all .3s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @include button-color(#fff, #cecece, #646464);

  &--red {
    @include button-color(#ff7575, #df4b4b, #fff);
  }
  &--green {
    @include button-color(#80d15f, #64b844, #fff);
  }
  &--blue {
    @include button-color(#4b22f4, #2f07cf, #fff);
  }
  &--yellow {
    @include button-color(#fcd658, #e9b819, #fff);
  }
}