@import './button.scss';
@import './card.scss';
@import './margin.scss';
@import './padding.scss';
@import './neumorphism.scss';

@import './bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  transition: background-color .2s linear;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  background: #aaa;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color .2s linear;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 
  html {
    font-size: 16px;
  }
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
  html {
    font-size: 15px;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  html {
    font-size: 14px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  html {
    font-size: 13px;
  } 
}