$spacer: 5px;

.ma-1 {
  margin: ($spacer * 1) !important;
}
.ma-2 {
  margin: ($spacer * 2) !important;
}
.ma-3 {
  margin: ($spacer * 3) !important;
}
.ma-4 {
  margin: ($spacer * 4) !important;
}
.ma-5 {
  margin: ($spacer * 5) !important;
}